a.navbar-brand {
    font-size: 40px !important;
    padding-left: 30px;
}

button#btn-nav {
    margin-right: 10px;
}

.navbar-nav {
    font-size: 20px;
    padding-left: 50px;
}

button.btn.btn-outline-success {
    margin: 20px !important;
}

@media only screen and (max-width: 767px){
  a.navbar-brand {
    padding-left: 10px;
  }
}
